* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    src: url(../fonts/Lobster-Regular.ttf);
    font-family: lobster;
}

.logo {
    width: 100px;
    height: 70px;
    margin-left: 40px;
}

.brand_name {
    margin-top: -55px;
    margin-left: 90px;
    font-weight: bold;
    font-family: lobster;
    font-size: 20px;
}

.nav_brand {
    display: inline-block;
}

.navbar ul {
    float: right;
}

.navbar ul li {
    display: inline-block;
    margin-right: 40px;
    margin-top: 30px;
    text-transform: uppercase;
}

.navbar ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.navbar ul li a:hover {
    color: #2f91bc;
    letter-spacing: 4px;
    transition-duration: .5s;
}

.navbar {
    height: 80px;
}

.clear {
    clear: both;
}


/* background */

.img {
    width: 100%;
    height: 550px;
}

.background_text {
    position: absolute;
    top: 250px;
    left: 100px;
}

.perfect {
    font-family: lobster;
    font-weight: unset;
    margin-bottom: 30px;
}

.shop {
    padding: 10px 20px;
    color: #2f91bc;
    border: 1px solid #2f91bc;
    border-radius: 5px;
    margin-top: 20px;
}

.shop:hover {
    color: white;
    background-color: #2f91bc;
}


/* product */

.header {
    text-align: center;
    padding-top: 50px;
}

.divided {
    max-width: 100px;
    margin: auto;
    border: 1px solid #2f91bc;
}

.product {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 50px;
    grid-gap: 30px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.product_img {
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgba(224, 187, 38, 0.55);
}

.red {
    color: red;
}


/* About  */

.about {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    margin-top: 80px;
    background-image: url(../images/rose_bg.jpg);
    color: white;
}

.about div {
    padding: 60px 0px;
}

.divide {
    max-width: 40px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Packaging  */

.pack_img {
    float: left;
    padding-right: 50px;
}

.pack_img img {
    border-radius: 5px;
}

.pack_body {
    padding-right: 120px;
}

.pack_body div {
    margin-top: 40px;
}

.pack_content {
    line-height: 25px;
    word-spacing: 5px;
    text-align: justify;
    margin-top: 5px;
}

.package {
    margin-top: 80px;
    margin-left: 100px;
}

.package h1 {
    margin-bottom: 30px;
}

.icon {
    padding-right: 10px;
}


/* Support */

.support_icon p {
    display: inline-block;
    margin-left: 30px;
}

.support {
    background-color: #e2e7e9;
    margin-top: 80px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 20px 0px 30px 30px;
}


/* Footer  */

.footer {
    height: 230px;
    background-color: #212529;
}

.footnav {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 50px 20px 0px;
}

.designed {
    color: white;
    margin-top: 30px;
}

.socialicon {
    color: white;
    display: inline-block;
    margin: 20px 10px 0px;
}


/* For shop page greeting */

.greet {
    background-image: url('../images/shop_greet.jpg');
    width: 100%;
    height: 80px;
    padding-top: 60px;
}

.greet_text {
    position: absolute;
    top: 95px;
    left: 550px;
    font-family: lobster;
    color: white;
    font-weight: 50px;
    letter-spacing: 5px;
    word-spacing: 1px;
}

.greet_text h1 {
    font-size: 50px;
}

.greet_text p {
    font-size: 30px;
}


/* Flower  */

.flower_section {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px 0px 0px 75px;
}

.flower_img {
    width: 250px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgba(245, 214, 91, 0.8);
}

.flower {
    padding-top: 50px;
    text-align: center;
}

.flower p {
    padding-top: 10px;
}

a .flower_img:hover {
    width: 300px;
    height: 400px;
    box-shadow: 0px 10px 20px rgba(255, 204, 1, 0.9);
}